<html>
  <head>
    <title>Table</title>
  </head>
  <body>
    <div class="table-responsive">
    <!-- <table class="table">
      <thead>
        <tr>
            <th>ID</th>
            <th>username</th>
            <th>prefix</th>
            <th>email</th>
            <th>comp_name</th>
            <th>status</th>    
        </tr>

      </thead>
      <tbody>
        
            <app-clint-info></app-clint-info>
          <td>{{clients.id}}</td>
          <td>{{clients.username}}</td>
          <td>{{clients.prefix}}</td>
          <td>{{clients.email}}</td>
          <td>{{clients.comp_name}}</td>
          <td>{{clients.status}}</td>
          <td>{{clients.is_deleted}}</td> 
        
      </tbody>
    </table> -->
    <app-clint-info></app-clint-info>
    </div>

    <!-- <button (click)="CallMe()">Call</button>
    <h1>{{result}}</h1> -->
  
  </body> 
</html>
  

