  <!-- <tr>
    <td>{{clients.id}}</td>
    <td>{{clients.username}}</td>
    <td>{{clients.prefix}}</td>
    <td>{{clients.email}}</td>
    <td>{{clients.comp_name}}</td>
    <td>{{clients.status}}</td>
  </tr> -->

  <!-- <table class="table">
      <thead>
        <tr>
            <th>ID</th>
            <th>username</th>
            <th>prefix</th>
            <th>email</th>
            <th>comp_name</th>
            <th>status</th>    
        </tr>

      </thead>
      <tbody *ngFor="let Clients of result">
        
          <td>{{clients.id}}</td>
          <td>{{clients.username}}</td>
          <td>{{clients.prefix}}</td>
          <td>{{clients.email}}</td>
          <td>{{clients.comp_name}}</td>
          <td>{{clients.status}}</td>
        
      </tbody>
    </table> -->
    {{result.id}}

    <!--  <td  *ngFor="let Clients of allClients">{{clients.id}}</td>
          <td  *ngFor="let Clients of allClients">{{clients.username}}</td>
          <td  *ngFor="let Clients of allClients">{{clients.prefix}}</td>
          <td  *ngFor="let Clients of allClients">{{clients.email}}</td>
          <td  *ngFor="let Clients of allClients">{{clients.comp_name}}</td>
          <td  *ngFor="let Clients of allClients">{{clients.status}}</td> -->